:root {
  --grid-size: 10;
  --grid-dim: 500px;
  --square-dim: calc(var(--grid-dim) / var(--grid-size));

  --main: rgb(60, 60, 202);
  --main-darker: rgb(32, 32, 128);
  --red: #ff1d1d;
  --grey: #eee;
  --dark: #3e3e3e;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
}

header {
  text-align: center;
  padding: 2rem;
  background-color: var(--grey);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.board {
  width: var(--grid-dim);
  height: var(--grid-dim);
  position: relative;
  margin: 2rem;
}

.grid {
  width: var(--grid-dim);
  height: var(--grid-dim);
  outline: 0.5px solid black;

  display: grid;
  grid-template-columns: repeat(var(--grid-size), auto);
  grid-template-rows: repeat(var(--grid-size), auto);
}

.square {
  width: var(--square-dim);
  height: var(--square-dim);
  border: solid 0.5px black;
}

.ships,
.attacks {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ship {
  position: absolute;
  outline: 0.5px solid black;
  display: flex;
}
.ship.ver {
  width: var(--square-dim);
  height: fit-content;
  flex-direction: column;
}
.ship.hor {
  height: var(--square-dim);
  width: fit-content;
  flex-direction: row;
}
.ship .square {
  background-color: var(--main);
}
.ship.sunk .square {
  background-color: black;
}

.attacks {
  z-index: 5;
  pointer-events: none;
}

.mark {
  width: var(--square-dim);
  height: var(--square-dim);
  position: absolute;
}

.mark .bar {
  border-radius: 4px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.mark.hit .bar {
  background-color: var(--red);
}

.mark .bar-1 {
  width: 12%;
  height: 70%;
}
.mark .bar-2 {
  width: 70%;
  height: 12%;
}

.board.opponent .ship {
  visibility: hidden;
}

.board.opponent .ship.sunk {
  visibility: visible;
}
.board.opponent .ship.sunk .square {
  background-color: var(--main);
}

.btn {
  display: block;
  padding: 20px 40px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  background-color: var(--main);
  border: solid 3px var(--main-darker);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  top: 0px;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 4px 15px rgba(60, 60, 202, 0.6);
}
.btn:active {
  top: 4px;
  box-shadow: 0px 0px 15px rgba(60, 60, 202, 0.3);
}

.info {
  font-size: 12px;
  color: var(--dark);
  background-color: var(--grey);
  padding: 8px 12px;
  border-radius: 50px;
}
.info img {
  vertical-align: sub;
  margin-right: 6px;
}
